.itensInv{
    position: relative;
    padding: 20px 30px;
    background-color: rgba(150, 150, 150, 1);
    color: black;
    overflow: hidden;
    height: 5vh;
    width: 3vh;
    border: 1px solid rgba(0,0,0,0);
}

.itensInv{
    margin-bottom: 1vh;
}

.itensInv:hover{
    cursor: pointer;
}

.itensInv .image img{
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
}

#conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10vh;
}

.inventario, .armazem{
    width: 30%;
    max-height: 40%;

    border: 1px solid rgba(150, 150, 150, 0.8);
    background-color: rgb(68, 28, 114);
    padding: 2vh;
    border-radius: 10px;
}
.inventario h2, .armazem h2{
    text-align: center;
    margin-bottom: 2vh;
}

.inventario ul li, .armazem ul li{
    display: inline-block;
}

.passDir, .passEsq{
    padding: 10px;
    background-color: rgba(100, 100, 100, 1);
    margin-top: 10vh;
}