.itensInv{
    position: relative;
    padding: 20px 30px;
    background-color: rgba(150, 150, 150, 1);
    color: black;
    overflow: hidden;
    height: 4vh;
    width: 1vh;
    border: 1px solid rgba(0,0,0,0);
}

.itensInv{
    margin-bottom: 1vh;
}

.itensInv:hover{
    cursor: pointer;
}

.itensInv .image img{
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
}

.imagemCompra{
    text-align: center;
}

.imagemCompra img{
    width: 40%;
    text-align: center;
}

.escopoBotoes{
    width: 100%;
    margin: 0;
}

.infos-item{
    text-align: center;
}

.botoes{
    margin: auto;
    margin-top: 5vh;
}

.conteudo-compra{
    margin: auto;
    width: 80%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tipo{
    display: none;
}

#listaItens li{
    margin-right: 0.5vh;
}

#inventario-esquerdo, #inventario-direito{
    border: 1px solid rgba(100, 100, 100, 1);
    background-color: rgba(76, 75, 75, 0.8);
    padding: 2vh;
    border-radius: 10px;
}

.compra{
    border: 1px solid rgba(100, 100, 100, 1);
    background-color: rgba(100, 100, 100, 0.8);
    padding: 2vh;
    border-radius: 10px;
}

.modale{
    background-color: rgb(105, 105, 105);
    border: 1px solid rgb(56, 56, 56);;
    border-radius: 10px 20px;
    width: 80%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}