.titleConteudo{
    text-align: center;
}

.titleConteudo h1{
    color: rgba(100, 100, 100, 0.8);
}

#conteudo{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.loja ul{
    margin-top: 2vh;
    margin-bottom: 2vh;

    /* border-spacing: 1vh 0.5vh;  */
}

.loja ul li{
    position: relative;
    padding: 20px 30px;
    background-color: rgba(150, 150, 150, 1);
    color: black;
    overflow: hidden;
    height: 5vh;
    width: 1vh;
    border: 1px solid rgba(0,0,0,0);
    display: inline-block;
    margin-right: 0.5vh;
    
}

.loja ul li:hover{
    cursor: pointer;
}

.loja ul li *{
    color: black;
}
.loja ul li .quantia{
    position: absolute;
    top: 0%;
    right: 0%;
    font-size: 8pt;
    z-index: 1;
    color: white;
}

.loja ul li .preco{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10pt;
    color: rgb(252, 248, 0);
    z-index: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.loja ul li .image img{
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
}

.compra{
    width: 90%;
    margin: auto;
    margin-top: 10vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;

    border: 1px solid rgba(100, 100, 100, 0.2);
    background-color: rgba(100, 100, 100, 0.2);
    padding: 2vh;
    border-radius: 10px;
}

.escopoImage{
    width: 30%;
}

.imagemCompra img{
    width: 100%;
}

.escopoBotoes{
    position: relative;
    margin-left: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 40%;
    
}

.botoes{
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.btnComprar{
    background-color: seagreen;
    padding: 10px 20px;
    border-radius: 10px 10px 10px 10px;
    margin-right: 1vh;
}

.btnPre{
    background-color: rgb(46, 38, 56);
    padding: 10px 20px;
    border-radius: 10px 10px 10px 10px;
}

.btnComprar:hover , .btnPre:hover{
    cursor: pointer;
}

.loja .selecionado{
    border: 1px solid cyan;
}

.sumir{
    display: none;
}

.atributos{
    /* margin-top: 2vh; */
    width: 50%;

    border: 1px solid rgba(100, 100, 100, 0.2);
    background-color: rgba(100, 100, 100, 0.2);
    padding: 2vh;
    border-radius: 10px;
}

.pDano, .pForca, .pIntelecto, .pVigor, .pArmadura, .pDurabilidade{
    width: 100%;
    height: 10%;
    margin-bottom: 2vh;
}

.progress-fundo{
    width: 100%;
    height: 40%;
    background-color: rgb(97, 97, 97);
    border-radius: 10px;
}

.progresso{
    width: 100%;
    height: 100%;
    background-color: rgb(109, 116, 177);
    border-radius: 10px;
}

.distr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#vendedor{
    color:red;
}

.sumir{
    display: none;
}