*{
    margin: 0px;
    padding: 0px;
    color: white;
}

body{
    background-color: rgba(0, 0, 0, 0.74);
    max-width: 1024px;
    width: auto;
    margin: auto;
}

.menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.74);
    border-radius: 20px 20px 20px 20px;
}

.menu li{
    padding: 10px;
    width: 100%;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
}

.menu li a{
    text-decoration: none;
}

.menu li:hover{
    background-color: rgba(50,50,50,0.54);
    cursor: pointer;
}