.itensInv{
    position: relative;
    padding: 20px 30px;
    background-color: rgba(150, 150, 150, 1);
    color: black;
    overflow: hidden;
    height: 5vh;
    width: 3vh;
    border: 1px solid rgba(0,0,0,0);
}

.itensInv{
    margin-bottom: 1vh;
}

.itensInv:hover{
    cursor: pointer;
}

.itensInv .image img{
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
}

.imagemCompra{
    text-align: center;
}

.imagemCompra img{
    width: 40%;
    text-align: center;
}

.escopoBotoes{
    width: 100%;
    margin: 0;
}

.infos-item{
    text-align: center;
}

.botoes{
    margin: auto;
    margin-top: 5vh;
}

.conteudo-compra{
    margin: auto;
    width: 80%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tipo{
    display: none;
}

#listaItens li{
    margin-right: 0.5vh;
}